<div class="sectiontitle">
  <h2>Movie Database</h2>
  <span class="headerLine"></span>
</div>
<div id="projectFacts" class="sectionClass">
  <div class="fullWidth eight columns">
    <div class="projectFactsWrap">
      <div class="item wow fadeInUpBig animated animated" style="visibility: visible;">
        <div class="row1 center">
          <p id="number1" class="number">add a new movie</p>
          <span id="seprate"></span>
        </div>
        <div class="container row2 center">
          <input type="text" name="name" id="name" #name placeholder="name" autocomplete="off">
          <input type="text" name="director" id="director" #director placeholder="director" autocomplete="off">
          <input type="url" name="url" id="url" #url placeholder="url" autocomplete="off">
        </div>
        <div class="row3 center">
          <div class="plus" (click)="add(name.value,director.value,url.value)">add</div>
        </div>
      </div>
      <div class="item wow fadeInUpBig animated animated" style="visibility: visible;"
        *ngFor="let item of movies$ | async; let i = index;">
        <div class="row1 center">
          <p id="number1" class="number">{{item.name}}</p>
          <span id="seprate"></span>
        </div>
        <div class="container row2 center">
          <p>{{item.director}}</p>
        </div>
        <div class="row3 center">
          <div class="plus" (click)="remove(i)">remove</div>
        </div>
      </div>
    </div>
  </div>
</div>